:root {
  --primary-color: #ffcc01;
  --gray-color: #f6f5f4;
  --dark-blue-color: #1f373d;
  --light-gray-color: #919eb1;

  --fs-body: 1.3rem;
  --fs-heading: 4rem;
  --lh-body: 3rem;
  --lh-heading: 5rem;

  --container-width: 1110px;
  --height-header: 94px;
  --gap: 15px;
  --btn-height: 80px;
  --padding-section: 75px;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--gap) * 2);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(255, 187, 187, 0.1); */
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--dark-blue-color);
  width: 100%;
  max-width: 100%;
  margin: auto;
  letter-spacing: -0.025em;
  font-family: fre;
}
img {
  display: block;
}
.btn-bg {
  background-color: var(--primary-color);
}
.btn-main {
  height: var(--btn-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: fsmb;
}

.card-list {
  --col: 3;
  --list-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--list-gap) * -1);
}
.card-list .card-item {
  flex: 0 0 calc(100% / var(--col) - var(--list-gap));
  margin-left: var(--list-gap);
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 32px -2px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 32px -2px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 32px -2px rgba(0, 0, 0, 0.22);
}

.card-item .card-img {
  aspect-ratio: 350 / 380;
  display: block;
  /* width: 100%; */
  overflow: hidden;
}
.card-item .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.card-list .card-item:hover .card-img img {
  transform: scale(1.04);
}
.card-item .card-text {
  padding: 18px 23px;
  background: #fff;
  flex: 1;
}
.card-item .card-text .card-title {
  font-size: 1.5rem;
  font-family: fsmb;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-item .card-text .card-des {
  display: flex;
  justify-content: space-between;
}
.card-item .card-text .card-des .sub-title {
  font-size: 1.8rem;
  line-height: 5rem;
  font-family: fsmb;
  color: var(--primary-color);
}
.card-item .card-text .card-des .icon-list {
  display: flex;
  gap: 20px;
}
.card-item .card-text .card-des .icon-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
header {
  /* display: flex; */
  height: var(--height-header);
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  /* background-color: var(--dark-blue-color); */
  background: #fff;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .menu .menu-item a {
  font-size: 1.3rem;
  padding: 5px 17px;
}
header .cta-group {
  display: flex;
}
header .cta-group .cta-link {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 5px;
}

.textbox .heading {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-family: fb;
  /* margin-bottom: 35px; */
}

.textbox.--small .heading {
  --fs-heading: 2.5rem;
  --lh-heading: 5rem;
}
.sc-hero {
  height: calc(100vh - var(--height-header));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sc-hero .container {
  height: 100%;
  position: relative;
}

.sc-hero .form-group {
  padding-top: 140px;
}

.sc-hero .form-group h1 {
  font-size: 6.2rem;
  line-height: 7.8rem;
  font-family: fb;
  margin-bottom: 45px;
}
.sc-hero .form-group form {
  display: flex;
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.sc-hero .input-group {
  height: 100%;
  flex: 1;
  max-width: 365px;
  display: flex;
  align-items: center;
  padding: 0 27px;
  background-color: #fff;
}

.sc-hero .input-group input,
.sc-hero .input-group input:focus {
  outline: none;
  border: none;
  font-family: fre;
  font-size: 1.5rem;
  color: var(--light-gray-color);
  margin-left: 15px;
  width: 100%;
}

.sc-hero .form-group .btn-bg,
.sc-hero .form-group .btn-bg:focus {
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 0 34px;
  font-family: fre;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.sc-hero .scroll-down {
  writing-mode: vertical-lr;
  color: #818181;
  position: absolute;
  bottom: 72px;
  left: 0;
  font-size: 1.2rem;
}
.sc-hero .scroll-down img {
  display: inline-flex;
  margin-top: 12px;
}
.sc-hero .cta-group {
  display: flex;
  position: absolute;
  bottom: 0;
  right: var(--gap);
}
/* .sc-hero .cta-group .btn-main {
  font-size: 1.8rem;
} */
.sc-hero .cta-group .btn-main img {
  margin-right: 32px;
}
.sc-hero .cta-group .btn-main:first-child {
  padding: 0 35px 0 57px;
}
.sc-hero .cta-group .btn-main:last-child {
  padding: 0 57px 0 35px;
}

.sc-statistics {
  padding: 70px 65px;
}
.sc-statistics .container {
  display: flex;
  align-items: center;
}
.sc-statistics .textbox {
  width: 100%;
  max-width: 540px;
}

.sc-statistics .textbox .heading {
  margin-bottom: 42px;
}
.sc-statistics .numbers {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
}
.sc-statistics .numbers .numbers-item {
  --bsize: 200px;
  height: var(--bsize);
  width: var(--bsize);
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sc-statistics .numbers .numbers-item .num {
  font-size: 4rem;
  line-height: 5rem;
  color: var(--primary-color);
  /* margin-bottom: 15px; */
  font-family: fsmb;
}
.sc-statistics .numbers .numbers-item .text {
  font-family: fsmb;
  font-size: 14px;
}
.sc-appartments {
  background-color: var(--gray-color);
  padding: 75px 0;
}
.sc-appartments .heading {
  margin-bottom: 55px;
}
.sc-appartments .sc-appartments-btn {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: fit-content;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 15px;
  transition: all 0.4s;
}
.sc-appartments .sc-appartments-btn:hover {
  background-color: var(--primary-color);
  color: var(--dark-blue-color);
}

.sc-works {
  padding: 70px 0 45px;
}
.sc-works .textbox .content {
  max-width: 355px;
}
.sc-works .textbox .heading {
  margin-bottom: 17px;
}

.sc-works .work-card-list {
  display: flex;
  gap: 35px;
  margin-top: 65px;
}

.sc-works .work-card {
  padding: 30px 68px 50px 45px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.sc-works .work-card .inner {
  display: flex;
  gap: 12px;
}
.sc-works .work-card .wc-title {
  font-size: 18px;
  font-family: fsmb;
  line-height: 63px;
}
.sc-works .work-card .wc-number:not(.--small) {
  font-size: 10rem;
  line-height: 1;
  font-family: fb;
}

.sc-works .work-card .sw-link {
  margin-top: 10px;
  display: block;
  max-width: max-content;
  padding-bottom: 10px;
  position: relative;
  font-family: fsmb;
}

.sc-works .work-card .sw-link::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 0.3s;
  background-color: var(--dark-blue-color);
}

.sc-works .work-card:hover,
.sc-works .work-card.active {
  background-color: var(--primary-color);
  color: #fff;
}

.sc-works .work-card:hover .sw-link::after {
  background-color: #fff;
}

.sc-services {
  padding: 45px 0 80px;
}

.sc-services .textbox {
  max-width: 355px;
}
.sc-services .textbox .heading {
  margin-bottom: 18px;
}
.sc-services .sc-services-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.sc-services .sc-services-content .img {
  max-width: 540px;
}
.sc-services .sc-services-content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc-services .sc-services-content .content {
  max-width: 445px;
  flex: 1;
}
.sc-services .sc-services-content .content .textbox:not(:last-child) {
  margin-bottom: 43px;
}
.sc-services .sc-services-content .content .textbox {
  max-width: 100%;
}
.sc-services .sc-services-content .content .textbox .heading {
  margin-bottom: 13px;
  font-family: fsmb;
}
.sc-agents {
  padding: 75px 0 40px;
  background-color: var(--gray-color);
}
.sc-agents .textbox {
  max-width: 360px;
  margin-bottom: 60px;
}
.sc-agents .textbox .heading {
  margin-bottom: 20px;
}
.sc-agents .card-list .card-des .sub-title {
  font-size: 15px;
}
.sc-agents .card-item .card-text {
  padding: 13px 23px;
}
.sc-agents .card-item .card-text .card-des .icon-list {
  gap: 36px;
}
.sc-super {
  padding: 88px 0 100px;
}

.super-item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.super-item:not(:last-child) {
  margin-bottom: 90px;
}
.super-item .super-item-img {
  width: calc(50% - 15px);
  position: relative;
}
.super-item .super-item-text {
  width: calc(50% - 15px);
}
.super-item .super-item-text .heading {
  margin-bottom: 20px;
  font-family: fsmb;
}
.super-item .super-item-text .show-me {
  height: 80px;
  padding: 0 55px;
  font-size: 1.8rem;
  font-family: fsmb;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  background-color: var(--dark-blue-color);
  color: #fff;
  margin-top: 50px;
}
.super-item .super-item-img .btn-main {
  padding: 0 55px;
  max-width: max-content;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.super-item:nth-child(odd) .super-item-img .btn-main {
  left: 35px;
}
.super-item:nth-child(even) .super-item-img .btn-main {
  right: 35px;
}

.super-item .super-item-img img {
  margin-right: 30px;
}
.super-item:nth-child(odd) .super-item-text {
  padding-left: 95px;
}

.super-item:nth-child(even) .super-item-text {
  padding-right: 95px;
  text-align: right;
}

.super-item:nth-child(even) {
  flex-direction: row-reverse;
}
.sc-contact {
  display: flex;
  padding-left: clamp(
    15px,
    calc((100vw - var(--container-width) - 15px) / 2),
    999px
  );
  background-color: var(--gray-color);
}
.sc-contact .sc-contact-left {
  width: calc(7 / 12 * (var(--container-width) + 30px));
  padding: 90px 0 100px;
}
.sc-contact .sc-contact-right {
  flex: 1;
}
.sc-contact .sc-contact-right img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 100%;
}
.sc-contact .textbox .heading {
  margin-bottom: 25px;
}
.sc-contact .textbox .desc {
  max-width: 350px;
  margin-bottom: 30px;
}
.sc-contact .form-wrap {
  padding-right: 15px;
  max-width: 450px;
}
.sc-contact .form-wrap .form-group {
  padding: 15px 0;
  margin-bottom: 15px;
  display: flex;
}
.sc-contact .form-wrap .form-group.border {
  border-bottom: 1px solid var(--light-gray-color);
}
.sc-contact .form-wrap .form-group input,
.sc-contact .form-wrap .form-group input:focus,
.sc-contact .form-wrap .form-group textarea,
.sc-contact .form-wrap .form-group select {
  border: none;
  outline: none;
  background: transparent;
  font-family: fre;
  color: var(--dark-blue-color);
  font-size: 13px;
  line-height: 1;
}
.sc-contact .form-wrap .form-group select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding-right: 20px;
  margin-right: 28px;
  background-image: url("../img/ic-down.png");
  background-repeat: no-repeat;
  color: var(--light-gray-color);
  background-position: right 0 center;
}
.sc-contact .form-wrap .form-group textarea {
  width: 100%;
  resize: none;
  height: 100px;
  line-height: 3rem;
  margin-top: -10px;
}
.sc-contact .form-wrap .form-group input {
  width: 100%;
}
.sc-contact .form-wrap .form-group input::-webkit-input-placeholder,
.sc-contact .form-wrap .form-group input::placeholder,
.sc-contact .form-wrap .form-group textarea:-moz-placeholder, /* Firefox 18- */
.sc-contact .form-wrap .form-group textarea::-moz-placeholder, /* Firefox 19+ */
.sc-contact .form-wrap .form-group textarea:-ms-input-placeholder, /* IE 10+ */
.sc-contact .form-wrap .form-group textarea::-webkit-input-placeholder, /* Webkit based */
.sc-contact .form-wrap .form-group textarea::placeholder,
.sc-contact .form-wrap .form-group select {
  color: var(--light-gray-color);
}
.sc-contact .form-wrap .form-group-heading {
  font-size: 1.5rem;
  line-height: normal;
  font-family: fsmb;
  margin-top: 30px;
}
.sc-contact .form-wrap .form-group-heading + .form-group {
  padding-bottom: 0;
}
.sc-contact .form-wrap .form-group label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sc-contact .form-wrap .form-group.-vertical {
  flex-direction: column;
}
.sc-contact .form-wrap .form-group.-vertical label:not(:first-child) {
  margin-top: 20px;
}
.sc-contact .form-wrap .form-group:not(.-vertical) label:not(:first-child) {
  margin-left: 75px;
}
.sc-contact .form-wrap .form-group label span {
  color: var(--light-gray-color);
  line-height: 1;
}
.sc-contact .form-wrap .form-group label input {
  height: 0;
  width: 0;
  display: none;
  position: relative;
}
.sc-contact .form-wrap .form-group label input[type="radio"] + .checkmark {
  border-radius: 50%;
  overflow: hidden;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  background-color: transparent;
  position: relative;
}
.sc-contact
  .form-wrap
  .form-group
  label
  input[type="radio"]
  + .checkmark::after {
  content: "";
  border-radius: 50%;
  overflow: hidden;
  width: 10px;
  height: 10px;
  display: flex;
  /* border: 1px solid currentColor; */
  background-color: transparent;
  position: absolute;
  transition: 0.3s;
}
.sc-contact
  .form-wrap
  .form-group
  label
  input[type="radio"]:checked
  + .checkmark::after {
  background-color: var(--dark-blue-color);
}

.sc-contact .form-wrap .form-group label input[type="checkbox"] + .checkmark {
  /* border-radius: 50%; */
  overflow: hidden;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  background-color: transparent;
  position: relative;
  color: var(--light-gray-color);
}
.sc-contact
  .form-wrap
  .form-group
  label
  input[type="checkbox"]
  + .checkmark::after {
  content: "";
  height: 13px;
  width: 13px;
  background-image: none;
  background-size: 8px 7px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}
.sc-contact
  .form-wrap
  .form-group
  label
  input[type="checkbox"]:checked
  + .checkmark::after {
  background-image: url(../img/checked.png);
}
.sc-contact .form-wrap .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: var(--dark-blue-color);
  color: #fff;
  border: 0;
  outline: 0;
  font-family: fsmb;
  font-size: 1.8rem;
  margin-top: 30px;
}
.footer {
  padding: 75px 0;
  background-color: var(--dark-blue-color);
}
.footer-top .heading {
  color: #fff;
}
.footer-top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 65px;
  border-bottom: 1px solid var(--light-gray-color);
}
.footer-top .contact-form {
  display: flex;
  flex: 1;
  max-width: 450px;
  height: 70px;
  background: #fff;
}
.footer-top .contact-form .form-group {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.footer-top .contact-form .form-group input::placeholder,
.footer-top .contact-form .form-group input::-webkit-input-placeholder {
  color: var(--light-gray-color);
}
.footer-top .contact-form .form-group input {
  width: 100%;
  border: 0;
  font-size: 1.5rem;
  font-family: fre;
  color: var(--dark-blue-color);
  outline: 0;
}
.footer-top .contact-form .submit-btn {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.footer-bottom {
  padding-top: 75px;
  color: #fff;
  display: flex;
}

.footer-bottom .col {
  flex: 1;
}
.footer-bottom .col:first-child {
  flex: 2;
}
.footer-bottom .col .logo {
  margin-bottom: 68px;
  display: block;
  max-width: max-content;
}
.footer-bottom .col .copy-right {
  font-size: 1.4rem;
  letter-spacing: 0.025em;
}
.footer-bottom .site-map .site-map-title {
  font-size: 1.3rem;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: var(--light-gray-color);
  letter-spacing: 0;
  letter-spacing: 0;
}

.footer-bottom .site-map ul li {
  letter-spacing: 0;
  margin-bottom: 5px;
}
